body
{
    background: black;
    color:white;
}

.title
{
    border: 1px solid #a60a0a;
    padding-top: 320px;
    padding-left: 120px;
    padding-bottom: 320px;
    font-size: 48px;
    font-weight: 750;
    letter-spacing: 3px;    
    margin: 0;
}

.section
{
    border: 1px solid #333;
    padding: 20px;
    margin: 20px 0;
}

#profilepic
{

}

#about
{

}

#projects
{
    border-left: 5px solid red;
}

#links
{
    border-left: 5px solid light;
}