body
{
    background: black;
    color:white;
}

.title
{
    padding-top: 260px;
    padding-left: 120px;
    padding-bottom: 300px;
    font-size: 48px;
    font-weight: 750;
    letter-spacing: 3px;    
    margin: 0;
    font-family: "Courier New", monospace;
}

.section
{
    border: 1px solid #333;
    padding: 20px;
    margin: 20px 0;
}

#profilepic
{

}

#about
{
    border: 1px solid darkred
}

#projects
{
    border-left: 5px solid red;
}

#links
{
    border-left: 5px solid rgb(14, 64, 138);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgba(80, 80, 80, 0.633);
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:focus {
    outline: 2px solid red;
}