/* Do everything in this file */
h2{
    border-bottom: 1px solid red;
    clear: both;
}

figure{
    float:right;
    width: 40%;
    margin-left:20px;
    margin-top:0;
}
figure img{
    width:100%;
    height: auto;
    display: block;
}

.tet {
    float: left;
    width: 30%;
    border: 2px solid #333; 
    margin: 10px; 
    padding: 10px; 
}

footer {
    clear: both;
    position: fixed;
    top: 0; 
    right: 0;
    width: 250px;
    padding: 10px;
    color:grey;
    z-index: -1;
}