figure{
    max-width: 700px;
    margin-top: 0;

    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 100%;
    height: auto;
}

header, main, footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#tetlist {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.tet {
    flex: 1 0 250px;
    border: 1px solid black;
    text-align: center;

    margin: 5px;

    padding: 10px;
    box-sizing: border-box;
}

.tet img {
    width: 60%;
    height: auto;
}

.name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10x;
    font-weight: bold;
    font-size: 25px;
}

.aliases {
    text-align: left;

    margin: 1em;
    font-size: 30x;
}